@{
    ViewBag.Title = "Access Denied";
    var currentUser = ViewBag.CurrentUser;
}

<div class="text-center alert alert-danger text-danger mt-2 radiusMode">
    <h1>Access Denied</h1>
    <h4>You're not allowed to navigate on this page'</h4>
</div>