
<div class ="alert alert-success text-center text-success">
    <h1>Thank you for confirming your email </h1>
    <hr />
    <h5 class="alert alert-primary">
        <a asp-action="login" asp-controller="Account"> Click here</a> to login
    </h5>
</div>

