<div class="alert alert-success text-center mt-1 radiusMode">
    <h1 class="alert alert-heading">Password Reset</h1>
    <hr />
    <h4>Based to provided information your password was reset</h4>
    <h6><a asp-action="Login" asp-controller="Account">Click Here</a> to login with your new password</h6>
</div>
