


    <div class="divContainer text-center mt-3 radiusMode">
 <br />
        <h1 class="text-danger mycard">@ViewBag.Title</h1>
      
        <h3 class="text-danger">@ViewBag.Message</h3>
     
        <a asp-action="index" asp-controller="Home" class="btn btn-outline-success mb-5" style="width:auto">Click Here to View List</a>
    </div>

